header{
    padding:30px 0;
    min-height: 250px;
    background-color: $Very-Pale-BlueTopBg;
    .logo{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-weight: 700;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        .theme-mode{
            display: flex;
            align-items: center;
            p{
                margin-right: 10px;
                font-weight: 700;
                color:$Desaturated-BlueText;
            }
        }
        .toggle-btn{
            width:50px;
            height: 20px;
            background-color:$Desaturated-BlueText;
            border-radius: 20px;
            padding:12px 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
           &:hover{
            background-color: $LimeGreen;
           }
            cursor: pointer;
            .toggle-btn__circle{
                background-color: $WhiteBG;
                width:20px;
                height: 20px;
                border-radius: 50%;
                transition: all .2s ease-in-out;
                &.moved{
                    transform: translateX(100%);
                }
            }
          
        }
    }
}

body.dark-mode{
    header{
        background-color: $Very-Dark-BlueTopBg;
        color:$WhiteText;
        
        .container{
            .theme-mode{
                p{
                    color:$Desaturated-BlueText;
                }
            }
            .logo{
                p{
                    color:$Desaturated-BlueText;
                }
            }
            .toggle-btn{
                background-color:$Desaturated-BlueText;
                background-image:linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
               &:hover{
                background-color: $LimeGreen;
               }
                .toggle-btn__circle{
                   background-color: $Very-Dark-BlueBG;
                    &.moved{
                        transform: translateX(100%);
                    }
                }
              
            }
        }
    }
    
}
@media (max-width:768px) {
    header{
        background-color: $Very-Pale-BlueTopBg;
        
        .logo{
            padding-bottom: 2rem;
            border-bottom: 1px solid black;
            margin-bottom: 30px;
            h2{
                margin-bottom: 5px;
            }
            p{
                font-size: 1.25rem;
                color: $Dark-Grayish-BlueText;
            }
        }
        .container{
            flex-direction: column;
            .theme-mode{
                justify-content: space-between;
                p{
                    font-size: 1.25rem;
                    color:$Desaturated-BlueText;
                }
            }
            .toggle-btn{
                width:60px;
                height: 30px;
                .toggle-btn__circle{
                    background-color: $WhiteBG;
                    width:25px;
                    height: 25px;
                }
              
            }
        }
    }
    
}